<div>

    <form role="form" ng-submit="vm.logout()">
        <button type="submit" class="btn btn-red btn-outline btn-lg btn-rounded">Logout</button>
    </form>


    <h2>Overview
        <small>Why is Ani Theme so awesome?</small>
    </h2>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
            I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins. To install
            plugins we have bower. Let's keep it real clean!<br/><br/>
            <p>

            </p>
        </div>
    </div>
</div>
