<div class="dashboard-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <div class="text-center">
                    <h2 class="brand">JelloFish</h2>
                    <img src="../../../images/flat-avatar.png" class="user-avatar"/><br/>





                </div>

                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Overview</a></li>
                    <li ng-class="{active: $state.includes('roadmaps')}"><a ui-sref="roadmaps">Roadmaps</a></li>
                    <li ng-class="{active: $state.includes('projects')}"><a ui-sref="projects">Projects</a></li>
                    <li ng-class="{active: $state.includes('resources')}"><a ui-sref="resources">Resources</a></li>
                    <li ng-class="{active: $state.includes('timesheets')}"><a ui-sref="timesheets">Timesheets</a></li>
                    <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports</a></li>



                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
            </div>
        </div>
    </div>
</div>